// Package e2ELanguageSelectApi
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
package e2ELanguageSelectApi

import (
    "context"
    "e2ELanguageSelectApi/models"
    "github.com/apimatic/go-core-runtime/utilities"
)

// ApiController represents a controller struct.
type ApiController struct {
    baseController
}

// NewApiController creates a new instance of ApiController.
// It takes a baseController as a parameter and returns a pointer to the ApiController.
func NewApiController(baseController baseController) *ApiController {
    apiController := ApiController{baseController: baseController}
    return &apiController
}

// ListContacts takes context as parameters and
// returns an models.ApiResponse with models.CrmV3ObjectsContactsResponse data and
// an error if there was an issue with the request or response.
func (a *ApiController) ListContacts(ctx context.Context) (
    models.ApiResponse[models.CrmV3ObjectsContactsResponse],
    error) {
    req := a.prepareRequest(ctx, "GET", "/crm/v3/objects/contacts")
    
    req.Authenticate(NewAuth("OAuth2"))
    var result models.CrmV3ObjectsContactsResponse
    decoder, resp, err := req.CallAsJson()
    if err != nil {
        return models.NewApiResponse(result, resp), err
    }
    
    result, err = utilities.DecodeResults[models.CrmV3ObjectsContactsResponse](decoder)
    return models.NewApiResponse(result, resp), err
}
